# SPDX-License-Identifier: Apache-2.0

# IntelliJ
*.iml
**.iml
*.ipr
*.iws
.idea

# gradle
!gradle/**
.gradle/
build/

# MacOS
**/.DS_Store

# Generated reports
enrichment-report*.xlsx
slack-discussion-report*.xlsx
user-details-report*.xlsx

# Generated code and docs
src/generate/**
src/main/resources/attributes.csv
